<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>chat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/socket.io/socket.io.js"></script>
        <link rel="stylesheet" type="text/css" href="/fa/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/active-media.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 chats">
                    <div class="header">
                        <span class="header-recipient">Your chats</span>
                    </div>
                    
                    <% for(var i = 0; i < chats.length; i++) { %>
                        <a href="/chat/<%= chats[i]._id %>" class="convo">
                            <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-1/c15.0.50.50a/p50x50/10354686_10150004552801856_220367501106153455_n.jpg?_nc_cat=1&_nc_oc=AQlWS01-eRh1CzpBEwRIj0am3ZWCOK5w1qdN_kfSRtRG1d377sZscoaWgcm1m7yf5-qvoMGhKXwC2nd4oRrIwzX2&_nc_ht=scontent-lhr3-1.xx&oh=da76d564acf68fa4b659d8404299d4da&oe=5D7C5EE8" class="convo-image" />
                            <div class="convo-details">
                                <div class="convo-name"><%= chats[i].users[0].username %></div>
                                <div class="convo-last-message" id="<%= chats[i]._id %>"><%= (chats[i].messages.length > 0 ? chats[i].messages[chats[i].messages.length - 1].message : "") %></div>
                            </div>
                        </a>
                        <hr class="convo-rule"/>
                    <% } %>
                </div>
                <div class="col-12 col-md-8 chat">
                    <div class="header">
                        <a href="/chat" class="fas fa-chevron-left header-back"></a>
                        <span class="header-recipient"><%= chat.users[0].username %></span>
                        <a href="/logout" class="header-logout">Logout</a> 
                    </div>
                    
                    <div id="chat-history">
                        <% chat.messages.forEach(function(message) { %>
                            <div class="message-wrapper">
                                <div class="message <%= (message.author.equals(user._id) ? "message-user" : "message-other") %>">
                                    <%= message.message %>
                                </div>                                
                            </div>
                        <% }); %>
                    </div>
                    <div class="new-message">
                        <input id="new-message-input" type="text" name="message" placeholder="Type a message..." autofocus="autofocus" autocomplete="off">
                        <input id="new-message-submit" type="submit" value="send">
                    </div>
                </div>
            </div>
        </div>
        <script>
            var socket = io.connect({query: "id=<%= chatId %>"});
            
            var input = document.getElementById("new-message-input"),
                submit = document.getElementById("new-message-submit"),
                chatHistory = document.getElementById("chat-history"),
                thisChat = document.getElementById("<%= chatId %>"),
                userId = "<%= user._id %>";
                
                submit.addEventListener("click", function() {
                    socket.emit("im", {message: input.value, room: "<%= chatId %>", sender: userId});
                    input.value = "";
                });
                
                socket.on("im", function(data) {
                    chatHistory.innerHTML += "<div class=\"message-wrapper\"><div class=\"message " + (data.sender == "<%= user._id %>" ? "message-user" : "message-other") + "\">" + data.message + "</div></div>";
                    thisChat.innerHTML = data.message;
                });
                
                
                // submit form on enter
            
                input.addEventListener("keyup", function(event) {
                      // Number 13 is the "Enter" key on the keyboard
                      if (event.keyCode === 13) {
                        // Cancel the default action, if needed
                        event.preventDefault();
                        // Trigger the button element with a click
                        submit.click();
                      }
                });
            
        </script>
        <script>
            var element = document.getElementById("chat-history");
            
            function updateChatScroll(element) {
                element.scrollTop = element.scrollHeight;
            }
            
            window.onLoad = updateChatScroll(element);
        </script>
  </body>
</html>
