
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>chat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/fa/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/index-media.css">
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-4 col-xl-3 chats">
                    <div class="header">
                        <span class="header-title">Your chats</span>
                        <a id="open" class="header-icon fas fa-plus"></a>
                    </div>
                    
                    <div class="chats-wrapper">
                        <% for(var i = 0; i < chats.length; i++) { %>
                            <a href="/chat/<%= chats[i]._id %>" class="convo">
                                <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-1/c15.0.50.50a/p50x50/10354686_10150004552801856_220367501106153455_n.jpg?_nc_cat=1&_nc_oc=AQlWS01-eRh1CzpBEwRIj0am3ZWCOK5w1qdN_kfSRtRG1d377sZscoaWgcm1m7yf5-qvoMGhKXwC2nd4oRrIwzX2&_nc_ht=scontent-lhr3-1.xx&oh=da76d564acf68fa4b659d8404299d4da&oe=5D7C5EE8" class="convo-image" />
                                <div class="convo-details">
                                    <div class="convo-name" id="<%= chats[i]._id %>-title">
                                        <% if(chats[i].title) { %>
                                            <%= chats[i].title %>
                                        <% } else { %>
                                            <% for(var x = 0; x < chats[i].users.length; x++) { %>
                                                <%= chats[i].users[x].username %><% if(x != chats[i].users.length - 1) { %>, <% } %>
                                            <% } %>
                                        <% } %>
                                    </div>
                                    <div class="convo-last-message" id="<%= chats[i]._id %>"><%= (typeof chats[i].lastAuthor != "undefined" ? chats[i].lastAuthor + ": " : "") %><%= (chats[i].messages.length > 0 ? chats[i].messages[chats[i].messages.length - 1].message : "") %></div>
                                </div>
                            </a>
                            <hr class="convo-rule"/>
                        <% } %>
                    </div>
                </div>
                <div class="col-md-8 col-xl-9 chat">
                    <div class="header">
                        <span class="header-filler"></span>
                        <span class="header-recipient">Chat</span>
                        <a href="/logout" class="header-logout">Logout</a> 
                    </div>
                    
                    <div id="chat-history">
                        <h4 class="strap">Get chatting...</h4>
                    </div>
                    <div class="new-message">
                        <input id="new-message-input" type="text" name="message" placeholder="Type a message..." disabled>
                        <input id="new-message-submit" type="submit" value="send" disabled>
                    </div>
                </div>
            </div>
        </div>
        
        <%- include("../partials/new_modal", {users: users, user: user}); %>
        
        <script>
            var socket = io.connect({query: "id=<%= user._id %>"});
            
            // when a new message is sent to the chat
            socket.on("updateIm", function(data) {
                var lastChat = document.getElementById(data.room);

                lastChat.innerHTML = data.user + ": " + data.message;
            });
            
            
            // when a new title is set on a chat
            socket.on("updateTitle", function(data) {
                var lastChat = document.getElementById(data.room),
                    chatTitle = document.getElementById(data.room + "-title");
                
                    // set title in case it has been removed
                    if(data.title != "") {
                        var newTitle = data.title;
                    } else {
                        var newTitle = "";
                        var users = data.users.concat(data.user);
                        
                        
                        for(var i = 0; i < users.length; i++) {
                            // skip iteration if user matches current user
                            if(users[i].username == "<%= user.username %>") {
                                continue;
                            }
                            // add other users
                            newTitle += users[i].username
                            if(i != users.length - 1) {
                                newTitle += ", "
                            }
                        }
                    }
                
                
                lastChat.innerHTML = data.message;
                chatTitle.innerHTML = newTitle;            
            });
            
            
            var element = document.getElementById("chat-history");
            
            function updateChatScroll(element) {
                element.scrollTop = element.scrollHeight;
            }
            
            window.onLoad = updateChatScroll(element);
        </script>
  </body>
</html>
